---
import { cx } from 'class-variance-authority'

import Container from 'shared/ui/container/container.astro'
import Button from 'shared/ui/button/button.astro'

import { textConfig, images } from '../config'

import { convertTitle } from '../lib'
import { isOdd } from '../lib'

import styles from './feature-list.module.css'

import partcilesImg1 from '../assets/particles-1.svg'
import partcilesImg2 from '../assets/particles-2.svg'
import arrowImg from '../assets/arrow.svg'
---

<div class={styles.list}>
    <Container className={styles.container} size="md">
        {
            textConfig.map((item, index) => (
                <div class={cx(styles.feature, isOdd(index) && styles.reverse)}>
                    <img class={styles.img} src={images[index]} alt="">
                    <div class={styles.card}>
                        <h1 class={styles.title} set:html={convertTitle(item.title)}></h1>
                        <p class={styles.text} set:html={item.text}></p>
                        <Button className={styles.card__btn} intent="secondary">Start the journey</Button>
                    </div>
                </div>
            ))
        }
    </Container>

    <div class={styles.btn}>
        <img src={partcilesImg1.src} alt="">
        <Button size="lg">
            Start the journey
            <img src={arrowImg.src} alt="">
        </Button>
        <img src={partcilesImg2.src} alt="">
    </div>
</div>
